body {
    background-color: #000000;
  }
  
  
  h1 {
      color: #778899;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      letter-spacing: -1px;
      text-decoration: none;
      text-shadow: 1px 1px #fff, ' ' #0e0e0e, 2px 3px 1px #e3e3e3;
      text-transform: none;
      word-spacing: -2px;
      text-align: center;
  }
  
  p {
    
      color: #778899;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      text-align: center;
    
  }
  
  #btn {
      background-color: #778899;
      border-radius: 18px;
    
  }